<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Objets de Func</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bitcoin">
                <span class="oi oi-graph" aria-hidden="true"></span> Bitcoin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="overnoats">
                <span class="oi oi-pencil" aria-hidden="true"></span> OverNoats
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="triangles">
                <span class="oi oi-aperture" aria-hidden="true"></span> Triangles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jpi">
                <span class="oi oi-code" aria-hidden="true"></span> The JPI
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
