###############################################################################
# This stops the hashes from getting messed up by git
###############################################################################
* binary

